@model ClaveSol.Models.Instrument

@{
    ViewData["Title"] = "Detalles";
}
<head>
    <link href="@Url.Content("~/css/instrDetails.css")" rel="stylesheet" type="text/css" />
</head>


@{
    string categName = @ViewBag.catName;
}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> @*Categoria => details*@
        @Html.ActionLink(@categName, "Details", "Categories", new { id = @Model.SubCategory.CategoryId }, null)
    <li class="breadcrumb-item"> @*SubCategoria => details*@
        @Html.ActionLink(Model.SubCategory.Name, "Details", "SubCategories", new { id = @Model.SubCategoryId }, null)
    </li> 
    <li class="breadcrumb-item active" aria-current="page">@Model.Name</li> @*Instrumento*@
  </ol>
</nav>


<div class="card-columns">
    <div class="card">
        <h1 class="text-center">@Html.DisplayFor(model => model.Name)</h1>
    
        <div id="brandPrice">
            <h2>@Html.DisplayFor(model => model.Brand)</h2>
            <money>@Html.DisplayFor(model => model.Price)<currency>€</currency></money>
        </div>
        <p class="text-center">@Html.DisplayFor(model => model.Description)</p>
    </div>


        @* ##### MULTIMEDIA ##### *@
  @if(String.IsNullOrEmpty(Model.MediaDir))
  {
     <div class="card multimedia">
         <div id="escenario">
            <img src="~/assets/defaultIns.jpg" class="card-img-top" alt="...">  @*MAIN PIC*@
         </div>

       @* LISTA MEDIA *@
       <ul class="list-group list-group-horizontal-md planos">
         <li id="plano" class="list-group-item"> @*VIDEO*@
             <video class="card-img-top" controls>
                 <source src="~/assets/defaultIns.webm" type="video/webm"> 
             </video>
         </li>
         <li id="2plano" class="list-group-item">
              <img src="~/assets/defaultIns2.jpg" class="card-img-top" alt="...">
         </li>
         <li id="3plano" class="list-group-item">
              <img src="~/assets/defaultIns3.jpg" class="card-img-top" alt="...">
         </li>
         <li id="4plano" class="list-group-item">
              <img src="~/assets/defaultIns4.jpg" class="card-img-top" alt="...">
         </li>
       </ul>
     </div>
  }
  else
  {
    //% GET MEDIA FOR INSTRUMENT USING MediaDir
  }




    @* TODO
        1- Get all atributes organized by type.
        2- parse 'Colors' & Select list for the rest
        3- Send it all over form when AÑADIR.
     *@
    @{
        Dictionary<string,string> attribs = ViewBag.attribs;
        @attribs
    } 
    <form>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ATRIBUTOS</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>

        <div class="card disponibilidad">
          <div class="card-body">
            <h5 class="card-title">DISPONIBILIDAD</h5>
            <p >@Html.DisplayFor(model => model.State)</p>
            <span class="font-weight-bold"> Alicante</span>
            <h3 class="text-success border border-success">AÑADIR</h3>
          </div>
        </div>
    </form>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Volver al listado</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/insDetails.js" asp-append-version="true"></script>